html, body {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
  height: 100%;
  width: 100%;
}

.solid {
  transition: background-color 1s ease 0s;
}

.transparent {
  transition: background-color 1s ease 0s;
}

.brand-logo {
  margin: 16px 0px;
  height: 36px;
}

.hero-background {
  height: 120vh;
  margin-top: -120px !important;
  padding-top: 40vh;
  background-image: url("../assets/solar-panels.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  font-size: 64px;
  color: #FFFF88;
  text-shadow: 4px 4px 12px black; 
  margin: 0;
}

.courses-description {
  background-color: #F5F5F5;
  width: 100%;
  max-width: 900px;
}

.card {
  border-radius: 16px !important;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25) !important;
}

.solar-energy-card {
  background-color: #94E1FF !important;
  background: linear-gradient(180deg, #ECFAFF 0%, #94E1FF 100%);
}

.solar-work-card {
  background-color: #470000 !important;
  background: linear-gradient(180deg, #CE0202 0%, #470000 100%);
}

.online-platform-card {
  background-color: #003042 !important;
  background: linear-gradient(180deg, #39829E 0%, #003042 100%)
}

.statistics-background {
  background-image: url("../assets/solar-panels-2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.statistic-image {
  width: 90%;
  max-width: 800px;
  margin: auto;
  border-radius: 16px;
}

.signup-background {
  background-image: url("../assets/solar-cell-texture.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.signup-section {
  width: 100%;
  max-width: 900px;
}

.sign-up-form {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 16px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left !important;
}

.container {
  padding: 0px 8px;
}

.profile-image {
  position: relative;
  z-index: 1;
  margin-top: -100px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25) !important;

}

[data-scroll] {
  -webkit-transition: all  1s;
  transition: all 1s;
}

[data-scroll="in"] {
  transform: translateY(0);
  opacity: 1;
}

[data-scroll="out"] {
  transform: translateY(200px);
  opacity: 0;
}

.sidenav-menu {
  background-color: #222222 !important;
  color: #FFFFFF;
  width: 360px !important;

}

.white-text {
  color: #FFFFFF !important;
}

.video-player {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .hero-background {
    background-attachment: scroll; 
  }

  .signup-background {
    background-attachment: scroll;
  }

  .statistics-background {
    background-attachment: scroll;
  }
}