html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
}

.page-section {
  min-height: 100vh;
  margin: 0px auto !important;
}

.hero-background {
  background-image: url("../assets/solar-panels.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-content {
  padding: 16px;
  text-align: center;
  opacity: 100% !important;
  vertical-align: middle;
  overflow: auto;
  margin: auto;
  position: absolute;
  height: 80%;
  top: 0; left: 0; bottom: 0; right: 0;
  max-width: 800px;
  width: 100%;
}

.hero-text {
  font-size: 64px;
  color: yellow;
  text-shadow: 4px 4px 12px black; 
}

.hero-image {
  width: 80%;
  max-width: 480px;
}

.platform-content {
  background-color: #E5F8FF;
  position: relative;
}

.platform-block {
  width: 100%;
  margin: 0px auto;
}

.platform-content-text {
  height: 80%;
  padding: 48px !important;
}

.solar-cells-city {
  height: 100vh;
  position: absolute;
  bottom: 0px;
}

.solar-energy-data {
  background-color: #19242B;
  position: relative;
}

.solar-energy-graph {
  width: 80%;
  max-width: 800px;
  border-radius: 24px;
}

.solar-energy-content {
  padding: 16px;
  text-align: center;
  opacity: 100% !important;
  vertical-align: middle;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.solar-energy-text {
  font-size: 24px;
  color: white;
  text-shadow: 4px 4px 12px black; 
}

[data-scroll] {
  -webkit-transition: all  1s;
  transition: all 1s;
}

[data-scroll="in"] {
  transform: translateY(0);
  opacity: 1;
}

[data-scroll="out"] {
  transform: translateY(200px);
  opacity: 0;
}