html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
}

#background {
  background-image: url("../assets/solar-panels.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire */
  height: 150vh;
}

#container {
  padding: 50px;
}

#block {
  padding: 10px;
  font-size: 64px;
  color: white;
  text-align: center;
  width: 100%;
}

#second-block {
  height: 60vh;
}

#dark-layer {
  padding: 300px 0px;
  width : 100%;
  height: 100%;
  background-color: black;
}